.box{
    height: 100px;
    width: 100px;
    color:white;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    
}
.box1{
    background-color: red;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
}
.box2{
    background-color: green;
    text-align: left;
    text-decoration: overline;
    text-decoration-color: aqua;
    text-transform: lowercase;
}
.box3{
    background-color: blue;
    text-align: right;
    text-decoration: line-through;
    text-decoration-color: aquamarine;
    text-transform:none;
}