.container{
    width: 80vw;
    height:40vh;
    display:flex;
    background-color: rgb(23, 207, 146);
    justify-content: flex-start;
 
    
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(143, 50, 50);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.box2{

    flex-shrink: 3;
}
.box3{
    align-self: center;
    flex-grow: 4;
    order:1 
    /* by default order is zero */
}